* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --back-color: #4e4bee;
  --text-color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: var(--back-color);
  position: relative;
  z-index: -1;
  width: 100%;
}

.hero {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;

  color: var(--text-color);
}

.hero h1 {
  font-size: 2.7rem;
  font-weight: 550;
  margin-bottom: 1rem;
}
.hero h3 {
  font-size: 1.3rem;
  font-weight: 200;
  font-style: italic;
}

form {
  background: #0602f8;
  /* width: 50%; */
  margin: 25px auto;
  padding: 20px 30px;
  border-radius: 3px;
}

form .form-group {
  margin: 20px 0;
}

form .form-group label {
  float: left;
  font-weight: 600;
  font-size: 1.9rem;
  margin: 5px 0;
}
form .form-group input,
form .form-group textarea {
  display: block;
  width: 100%;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
}
form .form-group-checkbox,
form .form-group-radio,
form .form-group-select-box {
  margin: 0.7rem 0;
  text-align: left;
}

form .form-group-checkbox .checkbox,
form .form-group-radio .radio {
  margin-left: 1rem;
}

form .form-group-checkbox h4,
form .form-group-radio h4,
form .form-group-select-box h4 {
  font-size: 1.5rem;
}

form .form-group-checkbox div,
form .form-group-radio div,
form .form-group-select-box div {
  margin: 20px 0;
}

form .form-group-checkbox input,
form .form-group-radio input {
  width: 1.2rem;
  height: 1.2rem;
}

form .form-group-checkbox label,
form .form-group-radio label {
  font-size: 1.5rem;
  margin-left: 0.6rem;
}

form .form-group-select-box select {
  margin-top: 0.7rem;
  width: 70%;
  height: 2rem;
  font-size: 1.2rem;
  color: #000;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}

form .form-group input[type="submit"] {
  cursor: pointer;
  margin-top: 2rem;
  padding: 0.5rem 0;
  background: #90ee90;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  color: #444;
  transition: all 1s ease-in-out;
}

form .form-group input[type="submit"]:hover {
  /* background: #000; */
  transform: scale(0.99);
}
